
@model WebApplication2.Models.home
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello..</h1>
        <label>ID</label>
        <p>@Model.id</p><br />
        <label>Name</label>
        <p>@Model.name</p>
    </div>
</body>
</html>
