
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="~/About">About</a>
        <a href="~/Content/">Contact</a>

    </div>
</body>
</html>
