
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>Hello</h1>
        <hr />
        <nav>
            <a href="./index">Home</a>
            <a href="./Contact">Contact</a>
            <a href="./About">About</a>
        </nav>
    </div>
</body>
</html>
